Repository shortlink-org/shortlink: changes, and which GitLab CI jobs are due for each by the changed paths.
All: HELM, linkchecker, helm-lint-chart

HELM:
  stage: test
  trigger:
    include:
    - local: .gitlab/ci/pipelines/test/helm.yml
    strategy: depend
  needs: []

linkchecker:
  stage: test
  image:
    name: ghcr.io/tcort/markdown-link-check:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - find . -name \*.md -print0 | xargs -0 -n1 markdown-link-check -q
  allow_failure: true
  tags:
  - gitlab-org-docker

helm-lint-chart:
  stage: test
  image: quay.io/helmpack/chart-testing:v3.11.0
  variables:
    GIT_STRATEGY: none
  before_script:
  - apk add --update git
  - git clone --filter=blob:none --depth=1 --branch=${CI_COMMIT_REF_NAME} ${CI_REPOSITORY_URL}
  - cd ${CI_PROJECT_NAME}
  - git sparse-checkout init --cone
  ...

Remove unused synctest example tests
  pkg/batch/batch_synctest_demo_test.go
  pkg/concurrency/rate_limiter/rate_limiter_synctest_demo_test.go
  pkg/concurrency/synctest_examples_test.go
  pkg/concurrency/synctest_tutorial_test.go
  pkg/concurrency/synctest_working_examples_test.go
Due: none

Standardize Go version to 1.25.1 everywhere
  .github/workflows/ci.yml
Due: none

Docs: Add link to Go's built-in CSRF protection
  pkg/http/middleware/csrf/README.md
Due: linkchecker

Update github actions for modern use (#22041)
  .github/dependabot.yml
  .github/workflows/cflite_build.yml
  .github/workflows/ci.yml
  .github/workflows/codecov.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/helm-test.yaml
  .github/workflows/maintenance.yml
  .github/workflows/npm-publish.yaml
  .github/workflows/scorecard.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
  .github/workflows/super-linter.yaml
Due: none

Enable and test experimental json/v2 package (#22048)
  ops/dockerfile/boundaries/platform/csi.Dockerfile
  ops/dockerfile/boundaries/shortdb/shortdb.Dockerfile
  ops/dockerfile/go.Dockerfile
Due: none

Add csrf protection with env settings (#22063)
  boundaries/bff/configs/env.example
  boundaries/bff/internal/infrastructure/http/server.go
  pkg/http/middleware/csrf/README.md
  pkg/http/middleware/csrf/csrf.go
  pkg/http/middleware/csrf/csrf_test.go
Due: linkchecker

Refactor: Improve test descriptions and comments
  pkg/batch/batch_sync_test.go
  pkg/concurrency/rate_limiter/rate_limiter_test.go
  pkg/concurrency/worker_pool/worker_pool_test.go
Due: none

Write synctest tests for concurrency (#22056)
  pkg/batch/batch_sync_test.go
  pkg/concurrency/rate_limiter/rate_limiter_test.go
  pkg/concurrency/worker_pool/worker_pool_test.go
Due: none

Refactor: Use sync.WaitGroup.Go for goroutines
  go.work.sum
  pkg/batch/batch.go
  pkg/concurrency/channel/merge.go
  pkg/concurrency/worker_pool/worker_pool_test.go
  pkg/raft/server/server_test.go
  pkg/types/partmap/bench_test.go
Due: none

Refactor: Use sync.WaitGroup.Go for goroutines (#22077)
  go.work.sum
  pkg/batch/batch.go
  pkg/concurrency/channel/merge.go
  pkg/concurrency/worker_pool/worker_pool_test.go
  pkg/raft/server/server_test.go
  pkg/types/partmap/bench_test.go
Due: none

Refactor: Use b.Loop() in benchmarks for accurate timing
  boundaries/link/internal/infrastructure/repository/crud/mongo/mongo_benchmark_test.go
  boundaries/link/internal/infrastructure/repository/crud/postgres/postgres_benchmark_test.go
  boundaries/link/internal/infrastructure/repository/crud/ram/ram_benchmark_test.go
  docs/ADR/decisions/proof/ADR-0007/serialization_bench_test.go
  pkg/freeport/freeport_test.go
  pkg/http/middleware/csrf/csrf_test.go
  pkg/types/partmap/bench_test.go
Due: none

Refactor: Use b.Loop() in benchmarks for accurate timing (#22079)
  boundaries/link/internal/infrastructure/repository/crud/mongo/mongo_benchmark_test.go
  boundaries/link/internal/infrastructure/repository/crud/postgres/postgres_benchmark_test.go
  boundaries/link/internal/infrastructure/repository/crud/ram/ram_benchmark_test.go
  docs/ADR/decisions/proof/ADR-0007/serialization_bench_test.go
  pkg/freeport/freeport_test.go
  pkg/http/middleware/csrf/csrf_test.go
  pkg/types/partmap/bench_test.go
Due: none

Refactor: Add context cancellation and defer cancel in Postgres tests
  pkg/db/drivers/postgres/postgres_test.go
Due: none

feat: Add Go 1.25 FlightRecorder for perfect tracing
  FLIGHT_RECORDER_IMPLEMENTATION.md
  go.work.sum
  pkg/di/pkg/traicing/traicing.go
  pkg/observability/traicing/example_usage.go
  pkg/observability/traicing/flight_recorder.go
  pkg/observability/traicing/traicing.go
  pkg/observability/traicing/types.go
  pkg/observability/traicing/utils.go
Due: linkchecker

Checkpoint before follow-up message
  pkg/fsroot/README.md
  pkg/fsroot/example_test.go
  pkg/fsroot/fsroot.go
  pkg/fsroot/fsroot_test.go
  poc/cel/rules.go
Due: linkchecker

Refactor: Update FlightRecorder default MinAge to 1m
  FLIGHT_RECORDER_IMPLEMENTATION.md
  pkg/di/pkg/traicing/traicing.go
  pkg/observability/README.md
  pkg/observability/traicing/example_usage.go
  pkg/observability/traicing/flight_recorder.go
  pkg/observability/traicing/traicing.go
  pkg/observability/traicing/types.go
  pkg/observability/traicing/utils.go
Due: linkchecker

fix: Remove trailing whitespace from test files
  pkg/batch/batch_sync_test.go
  pkg/concurrency/rate_limiter/rate_limiter_test.go
  pkg/concurrency/worker_pool/worker_pool_test.go
  pkg/db/drivers/postgres/postgres_test.go
  pkg/http/middleware/csrf/csrf_test.go
Due: none

Checkpoint before follow-up message
  pkg/batch/fuzz_test.go
Due: none

Checkpoint before follow-up message
  pkg/mq/kafka/kafka_test.go
Due: none

feat: Implement FlightRecorder observability package
  README.md
  pkg/observability/traicing/application/service.go
  pkg/observability/traicing/domain/errors.go
  pkg/observability/traicing/domain/recorder.go
  pkg/observability/traicing/factory.go
  pkg/observability/traicing/flight_recorder.go
  pkg/observability/traicing/infrastructure/events.go
  pkg/observability/traicing/infrastructure/recorder.go
  pkg/observability/traicing/infrastructure/repository.go
  pkg/observability/traicing/types.go
Due: linkchecker

feat: Add unique package demo and examples
  unique-demo/README.md
  unique-demo/SUMMARY.md
  unique-demo/advanced_examples.go
  unique-demo/go.mod
  unique-demo/main.go
  unique-demo/real_world_examples.go
  unique-demo/unique_test.go
Due: linkchecker

fix: Correct syntax issues in test files
  boundaries/metadata/internal/usecases/parsers/parsers_test.go
  pkg/batch/batch_sync_test.go
  pkg/concurrency/rate_limiter/rate_limiter_test.go
  pkg/mq/kafka/kafka_test.go
  pkg/mq/kafka/redpanda_test.go
Due: none

Refactor: Use filepath for SQLite DB path in tests
  boundaries/link/internal/infrastructure/repository/crud/sqlite/sqlite_test.go
  docs/os-root-usage.md
Due: linkchecker

Remove demo and example code
  .cursor/rules
  unique-demo/README.md
  unique-demo/SUMMARY.md
  unique-demo/advanced_examples.go
  unique-demo/go.mod
  unique-demo/main.go
  unique-demo/real_world_examples.go
  unique-demo/unique_test.go
Due: linkchecker

feat: Add iterator package and example
  examples/iterator/go.mod
  examples/iterator/main.go
  pkg/iterator/README.md
  pkg/iterator/basic_test.go
  pkg/iterator/bytes.go
  pkg/iterator/iter.go
  pkg/iterator/iter_test.go
  pkg/iterator/maps.go
  pkg/iterator/slices.go
  pkg/iterator/slices_test.go
  pkg/iterator/strings.go
Due: linkchecker

feat: Add flight recorder and comprehensive tests
  pkg/observability/traicing/TESTING_SUMMARY.md
  pkg/observability/traicing/application/service_test.go
  pkg/observability/traicing/domain/errors_test.go
  pkg/observability/traicing/domain/recorder_test.go
  pkg/observability/traicing/infrastructure/recorder_test.go
  pkg/observability/traicing/infrastructure/repository_test.go
  pkg/observability/traicing/utils.go
  pkg/observability/traicing/utils_test.go
Due: linkchecker

feat: Implement Go 1.25 FlightRecorder for perfect tracing
  FLIGHT_RECORDER_IMPLEMENTATION.md
  README.md
  pkg/observability/README.md
  pkg/observability/traicing/TESTING_SUMMARY.md
  pkg/observability/traicing/example_usage.go
Due: linkchecker

upd deps
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/bff/go.mod
  boundaries/bff/go.sum
  boundaries/link/go.mod
  boundaries/link/go.sum
  boundaries/supplies/knative/kafka-to-elasticsearch/go.sum
  go.sum
Due: none

upd deps
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

feat(Header): update login link to use dynamic origin
  ui/README.md
  ui/src/components/Header/Header.tsx
Due: linkchecker

ui: fix nginx config
  ui/ops/conf/ui.local
Due: none

ui: fix routing flow
  ops/Helm/link-ui/values.yaml
  ui/ops/conf/ui.local
Due: HELM, helm-lint-chart

ui: fix routing flow
  ops/Helm/link-ui/DOCS.md
Due: HELM, linkchecker, helm-lint-chart

ui: fix routing flow
  ops/Helm/link-ui/values.yaml
Due: HELM, helm-lint-chart

Path conditions:
  HELM: any of: ops/Helm/*/*
  linkchecker: any of: **/*.md
  helm-lint-chart: any of: ops/Helm/*/*
