Repository shortlink-org/shortlink: changes, and which GitLab CI jobs are due for each by the changed paths.
All: HELM, linkchecker, helm-lint-chart

HELM:
  stage: test
  trigger:
    include:
    - local: .gitlab/ci/pipelines/test/helm.yml
    strategy: depend
  needs: []

linkchecker:
  stage: test
  image:
    name: ghcr.io/tcort/markdown-link-check:latest
    entrypoint:
    - /bin/sh
    - -c
  script:
  - find . -name \*.md -print0 | xargs -0 -n1 markdown-link-check -q
  allow_failure: true
  tags:
  - gitlab-org-docker

helm-lint-chart:
  stage: test
  image: quay.io/helmpack/chart-testing:v3.11.0
  variables:
    GIT_STRATEGY: none
  before_script:
  - apk add --update git
  - git clone --filter=blob:none --depth=1 --branch=${CI_COMMIT_REF_NAME} ${CI_REPOSITORY_URL}
  - cd ${CI_PROJECT_NAME}
  - git sparse-checkout init --cone
  ...

gitlab-ci: fix
  .gitlab/ci/.gitlab-ci.yml
Due: none

ui: fix
  boundaries/proxy/package.json
  boundaries/proxy/pnpm-lock.yaml
  ui/src/app/add-link/page.tsx
  ui/src/app/providers.tsx
  ui/src/components/Header/notification.tsx
  ui/src/components/Layout.tsx
  ui/src/components/Page/admin/user/linksTable.tsx
  ui/src/components/Page/user/linksTable.tsx
  ui/src/components/Profile/Personal.tsx
  ui/src/components/Profile/Welcome.tsx
  ui/src/components/PushNotificationLayout.tsx
  ui/src/components/widgets/oAuthServices.tsx
Due: none

ui: upd deps
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

alloy: setting
  ops/docker-compose/tooling/observability/grafana/conf/alloy/config.alloy
Due: none

link: fix image url
  ops/Helm/link-ui/values.yaml
Due: HELM, helm-lint-chart

json: update benchmark
  .run/ADR-0007_json.run.xml
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/bff/go.mod
  boundaries/bff/go.sum
  boundaries/link/go.sum
  docs/ADR/decisions/proof/ADR-0007/go.mod
  docs/ADR/decisions/proof/ADR-0007/go.sum
  docs/ADR/decisions/proof/ADR-0007/serialization_bench_test.go
  go.sum
  go.work.sum
Due: none

go: upd deps
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/bff/go.mod
  boundaries/bff/go.sum
  boundaries/link/go.mod
  boundaries/link/go.sum
  go.mod
  go.sum
  go.work.sum
Due: none

move pattern specification to go-sdk
  pkg/pattern/specification/README.md
  pkg/pattern/specification/and.go
  pkg/pattern/specification/example/example.go
  pkg/pattern/specification/filter.go
  pkg/pattern/specification/not.go
  pkg/pattern/specification/or.go
  pkg/pattern/specification/type.go
Due: linkchecker

config: use go-sdk
  boundaries/api/api-gateway/gateways/cloudevents/di/wire.go
  boundaries/api/api-gateway/gateways/cloudevents/di/wire_gen.go
  boundaries/api/api-gateway/gateways/graphql/di/wire.go
  boundaries/api/api-gateway/gateways/graphql/di/wire_gen.go
  boundaries/api/api-gateway/gateways/grpc-web/di/wire.go
  boundaries/api/api-gateway/gateways/grpc-web/di/wire_gen.go
  boundaries/api/api-gateway/gateways/ws/di/wire.go
  boundaries/api/api-gateway/gateways/ws/di/wire_gen.go
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/bff/go.mod
  boundaries/bff/go.sum
  boundaries/bff/internal/di/wire.go
  boundaries/bff/internal/di/wire_gen.go
  boundaries/bff/internal/infrastructure/http/type.go
  boundaries/link/go.mod
  boundaries/link/go.sum
  boundaries/link/internal/di/wire.go
  boundaries/link/internal/di/wire_gen.go
  boundaries/metadata/internal/di/wire.go
  boundaries/metadata/internal/di/wire_gen.go
  boundaries/supplies/knative/kafka-to-elasticsearch/go.mod
  boundaries/supplies/knative/kafka-to-elasticsearch/go.sum
  docs/ADR/decisions/proof/ADR-0007/go.sum
  go.mod
  go.sum
  pkg/di/default.go
  pkg/di/pkg/config/config.go
  pkg/di/pkg/config/unleash.go
  poc/xa/dtm-example/go.mod
  poc/xa/dtm-example/go.sum
Due: none

go-sdk: use config
  boundaries/api/api-gateway/gateways/cloudevents/di/wire_gen.go
  boundaries/api/api-gateway/gateways/graphql/di/wire_gen.go
  boundaries/api/api-gateway/gateways/grpc-web/di/wire_gen.go
  boundaries/api/api-gateway/gateways/ws/di/wire_gen.go
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/bff/go.mod
  boundaries/bff/go.sum
  boundaries/bff/internal/di/wire_gen.go
  boundaries/link/go.mod
  boundaries/link/go.sum
  boundaries/link/internal/di/wire_gen.go
  boundaries/metadata/internal/di/wire_gen.go
  go.mod
  go.sum
  pkg/pattern/specification/README.md
  pkg/pattern/specification/and.go
  pkg/pattern/specification/example/example.go
  pkg/pattern/specification/filter.go
  pkg/pattern/specification/not.go
  pkg/pattern/specification/or.go
  pkg/pattern/specification/type.go
Due: linkchecker

upd deps
  boundaries/bff/go.sum
  go.sum
  poc/xa/dtm-example/go.sum
Due: none

upd deps
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/bff/go.mod
  boundaries/bff/go.sum
  boundaries/link/go.mod
  boundaries/link/go.sum
  boundaries/link/ops/Makefile/deps.mk
  boundaries/supplies/knative/kafka-to-elasticsearch/go.mod
  boundaries/supplies/knative/kafka-to-elasticsearch/go.sum
  docs/ADR/decisions/proof/ADR-0007/go.mod
  docs/ADR/decisions/proof/ADR-0007/go.sum
  go.mod
  go.sum
  go.work
  go.work.sum
  pkg/golangci-lint/value-object/go.sum
  poc/xa/dtm-example/go.mod
  poc/xa/dtm-example/go.sum
Due: none

refactoring
  boundaries/link/Makefile
Due: none

go 1.25: drop uber-go/automaxprocs
  boundaries/api/api-gateway/gateways/cloudevents/di/wire.go
  boundaries/api/api-gateway/gateways/cloudevents/di/wire_gen.go
  boundaries/api/api-gateway/gateways/graphql/di/wire.go
  boundaries/api/api-gateway/gateways/graphql/di/wire_gen.go
  boundaries/api/api-gateway/gateways/grpc-web/di/wire.go
  boundaries/api/api-gateway/gateways/grpc-web/di/wire_gen.go
  boundaries/api/api-gateway/gateways/ws/di/wire.go
  boundaries/api/api-gateway/gateways/ws/di/wire_gen.go
  boundaries/bff/internal/di/wire.go
  boundaries/bff/internal/di/wire_gen.go
  boundaries/bff/internal/infrastructure/http/type.go
  boundaries/link/go.sum
  boundaries/link/internal/di/wire.go
  boundaries/link/internal/di/wire_gen.go
  boundaries/metadata/internal/di/wire.go
  boundaries/metadata/internal/di/wire_gen.go
  go.mod
  go.sum
  pkg/di/default.go
  pkg/di/pkg/autoMaxPro/autoMaxPro.go
Due: none

Checkpoint before follow-up message
  pkg/db/db.go
  pkg/di/pkg/profiling/profiling.go
  pkg/observability/metrics/metrics.go
  pkg/observability/traicing/traicing.go
Due: none

Remove autoMaxPro from default DI set
  pkg/di/default.go
Due: none

go-sdk: migration and refactoring
  boundaries/metadata/internal/di/wire.go
Due: none

refactoring
  boundaries/metadata/internal/di/wire.go
Due: none

upd deps
  boundaries/proxy/package.json
  boundaries/proxy/pnpm-lock.yaml
Due: none

upd deps
  boundaries/api/api-gateway/go.sum
  boundaries/bff/go.sum
  boundaries/link/go.sum
  go.mod
  go.sum
  go.work.sum
Due: none

upd deps
  boundaries/link/go.mod
  boundaries/link/go.sum
  go.mod
  go.sum
  go.work.sum
Due: none

Checkpoint before follow-up message
  jsonv2_demo/README.md
  jsonv2_demo/benchmark.go
  jsonv2_demo/builtin_example.go
  jsonv2_demo/go.mod
  jsonv2_demo/go.sum
  jsonv2_demo/main.go
  jsonv2_demo/run_demo.sh
Due: linkchecker

Refactor: Update GitHub Actions workflows and configurations
  .github/dependabot.yml
  .github/workflows/cflite_build.yml
  .github/workflows/ci.yml
  .github/workflows/codecov.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/helm-test.yaml
  .github/workflows/maintenance.yml
  .github/workflows/npm-publish.yaml
  .github/workflows/reusable-setup.yml
  .github/workflows/scorecard.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
  .github/workflows/super-linter.yaml
Due: none

feat: Add Green Tea GC and JSON/v2 experimental features
  jsonv2_demo/README.md
  jsonv2_demo/SUMMARY.md
  jsonv2_demo/enable_experiments.sh
  jsonv2_demo/gc_demo.go
  jsonv2_demo/main.go
  jsonv2_demo/run_all_demos.sh
  jsonv2_demo/run_demo.sh
Due: linkchecker

feat: Add synctest examples for concurrent code testing
  SYNCTEST_EXAMPLES.md
  pkg/batch/batch_sync_test.go
  pkg/batch/batch_synctest_demo_test.go
  pkg/concurrency/rate_limiter/rate_limiter_synctest_demo_test.go
  pkg/concurrency/rate_limiter/rate_limiter_test.go
  pkg/concurrency/synctest_examples_test.go
  pkg/concurrency/synctest_tutorial_test.go
  pkg/concurrency/synctest_working_examples_test.go
  pkg/concurrency/worker_pool/worker_pool_test.go
Due: linkchecker

feat: Add CSRF protection middleware
  boundaries/bff/configs/env.example
  boundaries/bff/internal/infrastructure/http/server.go
  go.sum
  pkg/http/middleware/csrf/README.md
  pkg/http/middleware/csrf/csrf.go
Due: linkchecker

Chore: Update dependabot schedule to daily
  .github/dependabot.yml
Due: none

Update to latest stable versions - no downgrades
  .github/workflows/cflite_build.yml
  .github/workflows/ci.yml
  .github/workflows/codecov.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/helm-test.yaml
  .github/workflows/maintenance.yml
  .github/workflows/reusable-setup.yml
Due: none

Remove unused SYNCTEST_EXAMPLES.md documentation
  SYNCTEST_EXAMPLES.md
Due: linkchecker

Refactor: Update CSRF trusted origins for production and development
  boundaries/bff/configs/env.example
  pkg/http/middleware/csrf/README.md
Due: linkchecker

feat: Enable greenteagc and jsonv2 experiments
  jsonv2_demo/README.md
  jsonv2_demo/SUMMARY.md
  jsonv2_demo/benchmark.go
  jsonv2_demo/builtin_example.go
  jsonv2_demo/enable_experiments.sh
  jsonv2_demo/gc_demo.go
  jsonv2_demo/go.mod
  jsonv2_demo/go.sum
  jsonv2_demo/main.go
  jsonv2_demo/run_all_demos.sh
  jsonv2_demo/run_demo.sh
  ops/dockerfile/boundaries/platform/csi.Dockerfile
  ops/dockerfile/boundaries/shortdb/shortdb.Dockerfile
  ops/dockerfile/go.Dockerfile
Due: linkchecker

feat: Add CSRF protection middleware and tests
  boundaries/bff/internal/infrastructure/http/server.go
  pkg/http/middleware/csrf/csrf_test.go
Due: none

Update Go version to 1.25.1 everywhere and remove unused reusable-setup.yml
  .github/workflows/ci.yml
  .github/workflows/codecov.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/maintenance.yml
  .github/workflows/reusable-setup.yml
Due: none

Path conditions:
  HELM: any of: ops/Helm/*/*
  linkchecker: any of: **/*.md
  helm-lint-chart: any of: ops/Helm/*/*
